torch==2.0.1
torchvision
torchaudio
torchdata
torchtext
pytest
google-cloud-storage
google-api-python-client
pytest-mock
transformers==4.40.2
pyyaml
h5py
pandas
responses
ray[default]==2.7.0
Pympler
tensorflow==2.14.0
tensorflow-addons[tensorflow]
tensorflow-text==2.14.0
keras-nlp
librosa
langdetect
pyarrow==13.0.0
numpy==1.26.0
