--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.0.1+cu118
torchvision==0.15.2+cu118
torchaudio==2.0.2+cu118
torchdata==0.6.1
torchtext==0.15.2
pytest
google-cloud-storage
google-api-python-client
pytest-mock
transformers==4.40.2
pyyaml
h5py
pandas
responses
ray[default]==2.7.0
click==8.1.7
Pympler
tensorflow==2.14.0
tensorflow-addons==0.22.0
tensorflow-text==2.14.0
keras-nlp==0.6.4
fasttext==0.9.3
ftfy==6.3.1
kenlm==0.3.0
sentencepiece==0.2.1
av==13.1.0
opencv-contrib-python==4.10.0.84
simple-aesthetics-predictor==0.1.2
loguru==0.7.3
httpx==0.28.1
wget==3.2
accelerate==0.30.1
datasets==2.19.2
librosa
langdetect
pyarrow==13.0.0
numpy==1.26.0
threadpoolctl
